In [1]:
import pandas as pd

In [4]:
red_data = pd.read_csv("./full-red-data.csv")

In [12]:
red_data

,Unnamed: 0,Blue,Green,Red,Blue : Green,Green : Red,Blue : Red,Blue * Green : Red,Green * Red : Blue,Blue * Red : Green,Red : Blue,Red : Green,Green : Blue
0,0,122,106,250,1.150943,0.424000,0.488000,0.528000,1.081967,0.339623,2.049180,2.358491,0.868852
1,1,129,110,254,1.172727,0.433071,0.507874,0.433071,0.279070,2.309091,1.968992,2.309091,0.852713
2,2,130,111,246,1.171171,0.451220,0.528455,0.382114,1.307692,2.126126,1.892308,2.216216,0.853846
3,3,122,105,240,1.161905,0.437500,0.508333,0.041667,0.918033,0.914286,1.967213,2.285714,0.860656
4,4,125,107,244,1.168224,0.438525,0.512295,0.258197,2.016000,0.336449,1.952000,2.280374,0.856000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,100,91,230,1.098901,0.395652,0.434783,0.608696,1.940000,2.373626,2.300000,2.527473,0.910000
201,201,103,92,229,1.119565,0.401747,0.449782,0.017467,0.737864,0.380435,2.223301,2.489130,0.893204
202,202,97,89,227,1.089888,0.392070,0.427313,0.814978,2.422680,0.033708,2.340206,2.550562,0.917526
203,203,104,94,230,1.106383,0.408696,0.452174,0.208696,1.115385,1.191489,2.211538,2.446809,0.903846
204,204,101,90,229,1.122222,0.393013,0.441048,0.567686,1.287129,0.988889,2.267327,2.544444,0.891089

In [8]:
red_data["Red : Blue"] = red_data["Red"] / red_data["Blue"]
red_data["Red : Green"] = red_data["Red"] / red_data["Green"]
red_data["Green : Blue"] = red_data["Green"] / red_data["Blue"]

In [14]:
red_data.describe()

,Unnamed: 0,Blue,Green,Red,Blue : Green,Green : Red,Blue : Red,Blue * Green : Red,Green * Red : Blue,Blue * Red : Green,Red : Blue,Red : Green,Green : Blue
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,102.000000,105.234146,90.604878,230.268293,1.163217,0.392926,0.456479,0.556210,1.130277,1.421273,2.211518,2.572166,0.860989
std,59.322565,11.737480,10.597122,6.074797,0.045485,0.039662,0.044235,0.310315,0.707313,0.877694,0.218294,0.273639,0.033559
min,0.000000,71.000000,60.000000,217.000000,1.055556,0.273973,0.324201,0.000000,0.000000,0.000000,1.746269,2.016529,0.768421
25%,51.000000,97.000000,84.000000,226.000000,1.132075,0.369863,0.423581,0.320833,0.484536,0.709302,2.070175,2.404040,0.839623
50%,102.000000,105.000000,90.000000,230.000000,1.164706,0.393162,0.455357,0.535714,1.107143,1.387755,2.196078,2.543478,0.858586
75%,153.000000,113.000000,97.000000,234.000000,1.191011,0.415966,0.483051,0.793103,1.660377,2.157303,2.360825,2.703704,0.883333
max,204.000000,135.000000,121.000000,254.000000,1.301370,0.495902,0.572650,1.130045,2.612903,3.486111,3.084507,3.650000,0.947368