In [1]:
import pandas as pd

In [2]:
green_data = pd.read_csv("./full-green-data.csv")

In [7]:
green_data

,Unnamed: 0,Blue,Green,Red,Blue : Green,Green : Red,Blue : Red,Blue * Green : Red,Green * Red : Blue,Blue * Red : Green,Green : Blue
0,0,144,202,121,0.712871,1.669421,1.190083,1.322314,0.847222,0.079208,1.402778
1,1,134,191,111,0.701571,1.720721,1.207207,2.252252,1.559701,0.136126,1.425373
2,2,146,205,127,0.712195,1.614173,1.149606,1.842520,1.226027,0.536585,1.404110
3,3,139,195,117,0.712821,1.666667,1.188034,1.923077,0.223022,0.692308,1.402878
4,4,140,195,113,0.717949,1.725664,1.238938,1.451327,0.135714,1.046154,1.392857
...,...,...,...,...,...,...,...,...,...,...,...
211,211,147,200,122,0.735000,1.639344,1.204918,1.770492,0.544218,0.070000,1.360544
212,212,150,205,125,0.731707,1.640000,1.200000,0.240000,0.166667,0.302439,1.366667
213,213,146,199,119,0.733668,1.672269,1.226891,1.058824,0.883562,1.115578,1.363014
214,214,139,192,110,0.723958,1.745455,1.263636,0.581818,0.920863,0.968750,1.381295
215,215,153,206,126,0.742718,1.634921,1.214286,0.238095,0.653595,0.378641,1.346405

In [6]:
#green_data["Green : Blue"] = green_data["Green"] / green_data["Blue"]
green_data["Green : Red"] = green_data["Green"] / green_data["Red"]

In [8]:
green_data.describe()

,Unnamed: 0,Blue,Green,Red,Blue : Green,Green : Red,Blue : Red,Blue * Green : Red,Green * Red : Blue,Blue * Red : Green,Green : Blue
count,216.000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000
mean,107.500,135.879630,195.777778,115.703704,0.693687,1.695253,1.175579,1.012437,0.855582,0.608004,1.443023
std,62.498,7.790534,6.996788,7.251956,0.021944,0.056991,0.044721,0.654806,0.553656,0.375173,0.046118
min,0.000,110.000000,173.000000,97.000000,0.635359,1.546763,1.084615,0.000000,0.000000,0.000000,1.346405
25%,53.750,131.000000,191.000000,111.000000,0.678609,1.649893,1.133998,0.518841,0.402537,0.332895,1.410831
50%,107.500,137.000000,196.000000,116.000000,0.696517,1.700435,1.188279,0.945455,0.794904,0.530669,1.435714
75%,161.250,141.000000,201.000000,121.000000,0.708802,1.727698,1.213613,1.593411,1.287113,0.870112,1.473603
max,215.000,153.000000,215.000000,139.000000,0.742718,1.876289,1.263636,2.261682,2.033058,1.377778,1.573913